.visualizer-container {
  width: 800px; /* 화면에 보여지는 너비를 고정 */
  height: 500px;
  overflow-x: auto; /* 가로 스크롤 생성 */
  padding: 0px 30px;

  @media (max-width: 500px) {
    transform: scale(0.4);
    margin-top: -100px;
  }
}

.rv-xy-plot__inner {
  overflow: visible;
}
