button:focus {
  outline: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
  box-shadow: none !important;
}
.border-dark {
  --bs-border-opacity: 0 !important;
}

.nav-link:hover {
  color: #92e1fb !important;
}
